{{#*inline "page"}}
<p><b>{{message}}</b></p>
<table>
    <tr>
        <td>Resources</td><td>{{resource_count}}</td>
    </tr>
    <tr>
        <td>Designs</td><td>{{design_count}}</td>
    </tr>
    <tr>
        <td>Transformations</td><td>{{transform_count}}</td>
    </tr>
</table>
{{/inline}}
{{> layout}}