<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>IS RBE</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 1px 10px;
    }
    </style>
</head>
<body>
<h1>IS RBE</h1>
<p>Early development sample</p>
<p>
    <a href="/resources">Resources</a> &middot;
    <a href="/transforms">Transformations</a>
    <br>
    <a href="/addresource">Add resource</a>
</p>
{{> page}}
<p>Build 11.5.2019</p>
</body>
</html>