{{#*inline "page"}}
    <form action="/addlocation" method="get" accept-charset="utf-8">
        <table>
            <tr>
                <td><label for="lat">Latitude</label></td>
                <td><input type="number" name="lat" id="lat" step="0.0001" required autofocus/></td>
            </tr>
            <tr>
                <td><label for="lon">Longitude</label></td>
                <td><input type="number" name="lon" id="lon" step="0.0001" required autofocus/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
{{/inline}}
{{> layout}}