{{#*inline "page"}}
    <table>
        <tr><th>ID</th><th>Name</th><th>Type</th><th>Unit</th></tr>
        {{#each .}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{type_id}}</td>
                <td>{{unit}}</td>
            </tr>
        {{/each}}
    </table>
{{/inline}}
{{> layout}}