<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>IS RBE</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 1px 10px;
    }
    </style>
</head>
<body>
<h1>IS RBE</h1>
<p>Early development sample</p>
<p>
    <a href="/resources">Resources</a> &middot;
    <a href="/designs">Designs</a> &middot;
    <a href="/transforms">Transformations</a>
</p>
<table>
    <tr><th>ID</th><th>Type</th><th>Ref</th><th>Lines</th></tr>
    {{#each .}}
        <tr>
            <td>{{id}}</td>
            <td>{{type_id}}</td>
            <td>{{refer}}</td>
            <td>{{lines}}</td>
        </tr>
    {{/each}}
</table>
</body>
</html>